.Product-detail-conroller-container {
  width: 100%;
  padding-top: 1em;
}
.Product-detail-conroller-container > * {
  padding: 1em 0em;
}
.black-anchor {
  color: black;
  text-decoration: underline;
}
.parent-width {
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-container > * {
  font-family: "Courier New", Courier, monospace;
  width: 30%;
  height: 3em;
  font-size: 1em;
  border: 0px;
  min-width: 7em;
}
.black-button {
  background-color: black;
  border: 2px solid black;
  color: white;
}
.white-button {
  background-color: white;
  border: 2px solid grey;
  color: grey;
}
